<div class="ui container">
  <h1 id="header" class="ui inverted header">Dashboard</h1>
  <div class="stat-container">
    <div class="student stat">
      <h3>Students</h3>
      <h2>509</h2>
    </div>
    <div class="course stat">
      <h3>Courses</h3>
      <h2>4</h2>
    </div>
    <div class="classes stat">
      <h3>Classes</h3>
      <h2>9</h2>
    </div>
  </div>
  <div class="schedule">
    <h2 class="ui inverted dividing header">Upcoming Lectures</h2>
    <div class="ui segments">
      <div class="task">Lecture 1</div>
      <div class="task">Lecture 2</div>
      <div class="task">Lecture 3</div>
    </div>
  </div>
</div>
